

.sidebar {
  height: 100vh;
  transition: width 0.2s ease;
  overflow: hidden;
  background-color: #e6e8eb;
  width: 180px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 6px;
  
}

.expanded {
  width: 180px;
}

.logo {
  margin: 10px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  /* font-size: 20px; */
  
}


.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 10px;
  cursor: pointer;
  background-color: #5c8fe8;
  border-radius: 5px;
  margin: 5px;
  color: #070707;
}

.label {
  white-space: nowrap;
}


.link:hover {
  background-color: #2785e3;
  color: #e5e1e1;
  font-weight: 600;

}


.link {
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #181818;
  font-size: 14px;

}

.active {
  background-color: #1b7fe3;
  color: #e5e1e1;
  font-weight: 600;
  padding: 12px 10px;
  border-radius: 8px;
  text-decoration: none;

}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px;
}

.footer {
  margin-top: auto;
  padding: 12px;
  font-size: 12px;
  color: #181818;
  text-align: center;
  align-items: end;
  margin-bottom: 10px;
  
}

@media (max-width: 1024px) {
  .sidebar {
    width: 64px;
    min-width: 64px;
  }

  .label {
    display: none;
  }

  .link {
    justify-content: center;
  }
}
